.box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
}

.label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.input {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  width: 100%;
}

.filename {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}
